body {
    margin: 0;
}

.app {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: #efefef;
}

.app>h1 {
    text-align: center;
    margin-bottom: 2em;
}

.app_flex {
    display: flex;
    align-items: center;
}

.image_slider {
    max-width: 75vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    padding: 3em 2em;
    border-radius: 15px;
}

.my_image {
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
    border-radius: 15px;
    margin: 5px 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.icon {
    margin: 5px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}