body {
    margin: 0;
}

.app {
    display: grid;
    place-content: center;
    height: 100vh;
}

.image_slider {
    display: flex;
    align-items: center;
}

.images_div {
    display: flex;
}

.app>h1 {
    text-align: center;
}

.my_image {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    margin: 5px;
}

.icon {
    margin: 5px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}